<div id = "stock_lookup">
  <h3 style="color:#fff;font-size:1.6em; ">Stock Search </h3> 
  <h4 style="color:#fff;font-size:1.6em; ">Some options are: TWTR (Twitter), GOOG (Google), AAPL (Apple)</h4> </br>
  <%= form_tag search_stocks_path, remote: true, method: :get, id: 'stock-lookup-form' do %>
  <div class ="form-group row no-padding text-center col-md-12">
    <div class="col-md-10">
      <%= text_field_tag :stock, params[:stock], placeholder: "Stock symbol", autofocus: true,
      class: 'form-control search-box input-lg' %>
  </div>
  <div class="col-md-2">
    <%= button_tag(type: :submit,class: "btn btn-lg btn-success") do %>
      <i class= "fa fa-search"> Look up a stock</i>
      <% end %>
    
  </div>
  </div>
  <% end %>
</div>

<%= render 'common/spinner' %>

 <% if @stock %>
 
 <div id='stock_lookup_results', class="well results-block">
 <strong> Symbol:</strong> <%= @stock.ticker %>
 <strong> Name:</strong> <%= @stock.name %>
 <strong> Price:</strong> <%= @stock.price %>
 <% if current_user.can_add_stock?(@stock.ticker) %>
 <%= link_to "Add to my stocks", user_stocks_path(user: current_user, stock_ticker: @stock.ticker,
 stock_id: @stock.id ? @stock_id : ' '),class: "btn btn-xs btn-success",method: :post %>
 <% else %>
 <span class="label label-default">
   Stock cannot be added.
 </span>
 <% end %>
 </div>
 <% end %>
 
 <div id='stock-lookup-errors'>
   
 </div>
 
 